[submodule "apps/qtcloud-human"]
	path = apps/qtcloud-human
	url = https://github.com/quanttide/qtcloud-human.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-human-resources.git
[submodule "packages/toolkit"]
	path = packages/toolkit
	url = https://github.com/quanttide/quanttide-human-toolkit.git
[submodule "docs/handbook"]
	path = docs/handbook
	url = https://github.com/quanttide/quanttide-handbook-of-human-resources.git
[submodule "docs/specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-human-resources.git
[submodule "data/roadmap"]
	path = data/roadmap
	url = https://github.com/quanttide/quanttide-roadmap-of-human-resources.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-human-resources.git
[submodule "data/journal"]
		path = data/journal
		url = https://github.com/quanttide/quanttide-journal-of-human-resources.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-human-resources.git
